@font-face {
    font-family: 'Nunito-Bold';
    src: url(fonts/Nunito-Bold.eot);
    src: url(fonts/Nunito-Bold.eot?#iefix) format('embedded-opentype'),
         url(fonts/Nunito-Bold.otf) format('otf'),
         url(fonts/Nunito-Bold.svg#Nunito-Bold) format('svg'),
         url(fonts/Nunito-Bold.ttf) format('truetype'),
         url(fonts/Nunito-Bold.woff) format('woff'),
         url(fonts/Nunito-Bold.woff2) format('woff2');
  }

/* #region function->rem, em, prc */
/*@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

@function em($px, $fs) {
    $result: math.div($px, $fs) + em;
    @return $result;
}

@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}*/
/* #endregion */

:root {
    --lightorange: rgb(255, 170, 0);
    --green:rgb(57, 147, 57);
    --darkorange:rgb(171, 114, 1);
    --darkgreen:rgb(0, 72, 0);

}

body {
    font-family: 'Nunito-Bold';
    background-color: var(--lightorange);
}
header {
    background-color: var(--green);
    font-size: 20px;
    font-family: 'Nunito-Bold';
    border-radius: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
    width: 63.375rem;
    flex-wrap: wrap;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 37.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(65/16*1rem);
}

.menu ul li {
    display: flex;
    align-items: center;
    /*flex-grow: 1;*/
    text-align: center;
    margin: 0;
    height: calc(40/16*1rem);
    border-bottom: 3px solid var(--green);
}

.menu ul li:hover {
    border-bottom: 3px solid black;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    margin-left: 2.5rem;
}

.logo img {
    width: 80px;
}

.add-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    font-size: calc(28 / 16 * 1rem)/*1.75rem*/
}

.icons a {
    color: black;
}

.search
{
    display: flex;
    align-items: center;
}

.search input[type="search"] {
    width: 11.25rem;
    height: 2.75rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 170, 0);
    font-size: calc(20/16*1rem);/*20px*/
    padding-left: 3.125rem;

}
.search input[type="search"]::placeholder {
    color: gray;
    font-size: 1.25rem;
}

.search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: calc(20/20*1em);/*20px: 20 - розмір хрестика за макетом, 20 - розмір шрифту батьківського елементу*/
    width: calc(20/20*1em);
    background: url(images/close.png);
    background-size: cover;
    opacity: 0.7;
}


.search .btn-search i {
    background-color: beige;
    padding: 0.625rem;
    border-radius: 50%;
    transform: translateX(100%);
}

.icons i {
    background-color: beige;
    padding: 0.625rem;
    border-radius: 50%;
}

.icons i:hover {
    background-color: var(--darkgreen);

}
.btn-search i:hover {
    background-color: var(--darkorange);

}

.icons
{
    display: flex;
    width: 6.875rem;
    justify-content: space-between;
    align-items: center;    
}

.menu-icon {
    display: none;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    transition: right 0.3s ease;
}
.sidebar-menu ul {
    list-style: none;
    margin: 50px;
    padding: 0;
    
}
.sidebar-menu li {
    padding: 20px;
}
.sidebar-menu a {
    text-decoration: none;
    color: black;
    font-size: calc(44/16*1rem);
}
.close-btn {
    text-align: right;
    font-size: calc(48/16*1rem);
    padding-right: 50px;
    padding-top: 20px;
}
.close-btn i {
    background-color: beige;
    padding: calc(16/16*1rem);;
    border-radius: 50%;
    cursor: pointer;
}
.sidebar-menu.active {
    right: 0;
}

.catalog {
    background-color: var(--green);
    /* display: flex;*/
    justify-content: center;
    align-items: flex-start;
    column-gap: 1em;
    border-radius: 0 0 20px 20px;
    display: none;
   /* height: auto;*/
    /*overflow: hidden;*/
    /*transition: height 2s ease-in-out;*/
}

#catalog-1, #catalog-2, #catalog-3, #catalog-4 {
    columns: 5 200px;
}

#catalog-5 {
    columns: 3 200px;
}

#catalog-6 {
    columns: 4 200px;
}

.catalog div {
    margin: 0;
    padding: 15px;
    break-inside: avoid;
}

.catalog div ul {
    list-style: none;
    padding: 0;
    font-size: calc(18/16*1rem);
}

.catalog div h3 {
    font-size: calc(20/16*1rem);
}

.catalog-anim-in {
    animation-name: slide;
    animation-duration: 600ms;
}

.catalog-anim-out {
    animation-name: slide-out;
    animation-duration: 600ms;
}

@media screen and (max-width: 1800px){
    .menu, .search form{
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .main-menu, .add-menu {
        width: calc(265/16*1rem);
    }
    .search .btn-search i {
        transform: translateX(0%);
    }
    .icons{
        width: calc(165/16*1rem);
    }
}

@keyframes slide {
    0%
    {
       /**/
       max-height: 0;
       opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
   
    100%
    {
       /**/
       max-height: 600px;
       opacity: 1;
       

    }
}

@keyframes slide-out {
    0%
    {
       /**/
       max-height: 600px;
       opacity: 1;
    }
    
    100%
    {
       /**/
       max-height: 0;
       opacity: 0;

    }
}

/*
.search input[type="search"] {
    width: 180px;
    background-color: aquamarine; 
    border: none; 
    padding: 10px; 
    border-radius: 30px;
    height: 40px;
}

.search input[type="search"]::placeholder {}

.search .btn-search i {
    padding: 12.5px;
    background-color: aquamarine;
    border-radius: 30px;
}
*/

/* #region COLUMNS*/
/*Вдастивості для батьківського елементу

column-count, column-width, columns

column-width - визначає ширину стовця. Але фактична ширина 
стовпчика може 
бути більшою або меншою.
Значення column-width (px, em, rem), auto, inherit (примусове успадкування)
em = font-size в пікселях 

column-count - визначає кількість колонок, яку потрібно побудувати.

Коли вказуємо column-count та column-width, column-count - максимальна кількість колонок,
column-width - мінімальна ширина колонки.

columns - об'єднує дві властивості.
*/

/*column-gap - розрив між колонками. За замовчуванням column-gap = 1em. 
column-rule - визначає стиль границь між колонками.*/

/*column-fill - визначає, як заповнювати стовпці - збалансовано чи ні.
balance(за замовчуванням) - контент всередині колонок розподіляєься рівномірно.
auto - стовпці заповнюються послідовно, коли контент не влазить в минулу колонку по висоті.
!!Працює, лише якщо вказана висота.
*/

/*Властивість вкладених елементів: column-span - визначає, як повинен відображатися елемент в багатоколоковому тексті - 
займати ширину всіх колонок або тільки одну з них*/

/*break-inside - визначає, чи буде переходити контент з одного вкаленого елменту в інший.*/

.text {
    background-color: aliceblue;
   /*column-width: 200px;
    column-count: 3;*/
    columns: 2 300px;
    column-gap: 10px;
    column-rule: 5px solid rgb(128, 0, 255);
    /*height: 500px;
    column-fill: auto;*/
}

.text h2 {
    background-color: rgb(128, 0, 255);
    padding: 15px;
    color: white;
    column-span: all; 
}

.text #par2 {
    /*column-span: all;*/
}

.text p {
    break-inside: avoid;
    margin: 0;
}

.text span {
    color: rgb(128, 0, 255);
}

.em {
    background-color: darkgoldenrod;
    width: 5em;/*1em = 16px*/
    height: 5em;
}
/* #endregion */

/* #region MEASURE */

/*Одиниці виміру

px - це абсолютна одиниця виміру, фіксована величина.

em - це відносна одиниця виміру, яка залежить від поточного або успадкованого розміру шрифту.
Потрібно пам'ятати який коекретно шрифт впливає на обчислення (успадкування)

rem - це відносна одиниця виміру, яка залежить або від розміру шрифта, який прописаний в <html>,
або розмір шрифта браузера по замовчуванню(16px)

vw, vh - це відносна одиниця виміру, яка залежить від розмірів viewport браузера (розмірів браузера)
vmin - залежить відносно мінімального значення між vw, vh
vmax - залежить відносно максимальне значення між vw, vh

% - це відносна величина, її визначають ВІДНОСНО різних значень:
ширина width - відносно батьківського елемента
висота height  - відносно висоти батьківського елемента, 
тільки якщо у батьківського елмента вказаний dysplay: flex/grid
при відносному позиціонуванні (position:relative) потрібні тіж самі умови
при абсолютному позиціонуванні (position:absolute) висоту батьківського елемента вказувати не обов'язково
відступи padding/margin - відносно ШИРИНИ батьківського елемента, навіть якщо задаються вертикальні відступи
transform:translate(x,y) - відносно ширини/висоти самого об'єкта до якого застосовано властивість
font-size, line-height - відносно розміру властивості font-size*/

.ex {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /*position: relative;
    top: 50%;
    right: 10%;*/
    padding-top: 50%;/*150px*/
    padding-right: 50%;/*150px*/
    margin-bottom: 10%;/*30px*/
    transform: translate(100%, 50%);/*100px, 50px*/

}

.measure {
    display: flex;
    height: 500px;
    width: 300px;
    background-color: azure;
}
/* #endregion*/
