@font-face {
    font-family: 'Nunito-Bold';
    src: url(fonts/Nunito-Bold.eot);
    src: url(fonts/Nunito-Bold.eot?#iefix) format('embedded-opentype'),
         url(fonts/Nunito-Bold.otf) format('otf'),
         url(fonts/Nunito-Bold.svg#Nunito-Bold) format('svg'),
         url(fonts/Nunito-Bold.ttf) format('truetype'),
         url(fonts/Nunito-Bold.woff) format('woff'),
         url(fonts/Nunito-Bold.woff2) format('woff2');
  }

body {
    font-family: 'Nunito-Bold';
    background-color:aqua;
    /*font-size: 10px;*/
}

/*Вдастівості для батьківського елементу

column-count, column-width, columns

column-width - визначає ширину стовця. Але фактична ширина 
стовпчика може 
бути більшою або меншою.
Значення column-width (px, em, rem), auto, inherit (примусове успадкування)
em = font-size в пікселях 

column-count - визначає кількість колонок, яку потрібно побудувати.

Коли вказуємо column-count та column-width, column-count - максимальна кількість колонок,
column-width - мінімальна ширина колонки.

columns - об'єднує дві властивості.
*/

/*column-gap - розрив між колонками. За замовчуванням column-gap = 1em. 
column-rule - визначає стиль границь між колонками.*/

/*column-fill - визначає, як заповнювати стовпці - збалансовано чи ні.
balance(за замовчуванням) - контент всередині колонок розподіляєься рівномірно.
auto - стовпці заповнюються послідовно, коли контент не влазить в минулу колонку по висоті.
!!Працює, лише якщо вказана висота.
*/

/*Властивість вкладених елементів: column-span - визначає, як повинен відображатися елемент в багатоколоковому тексті - 
займати ширину всіх колонок або тільки одну з них*/

/*break-inside - визначає, чи буде переходити контент з одного вкаленого елменту в інший.*/

.text {
    background-color: aliceblue;
   /*column-width: 200px;
    column-count: 3;*/
    columns: 2 300px;
    column-gap: 10px;
    column-rule: 5px solid rgb(128, 0, 255);
    /*height: 500px;
    column-fill: auto;*/
}

.text h2 {
    background-color: rgb(128, 0, 255);
    padding: 15px;
    color: white;
    column-span: all; 
}

.text #par2 {
    /*column-span: all;*/
}

.text p {
    break-inside: avoid;
    margin: 0;
}

.text span {
    color: rgb(128, 0, 255);
}

.em {
    background-color: darkgoldenrod;
    width: 5em;/*1em = 16px*/
    height: 5em;
}

